.headerBody {
  font-family: "Fira Code", monospace;
  margin: 0;
  background-color: #746565;
  padding: 1rem 0 0.5rem 0;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 0.1rem solid hsla(250, 80%, 30%, 0.8);
  box-shadow: 0rem 0rem 1rem hsla(250, 80%, 60%, 0.8);
}
.buttonLink {
  font-family: "Fira Code", monospace;
  font-size: 1rem;
  color: hsla(250, 80%, 70%, 0.8);
  text-shadow: 0rem 0rem 0.2rem hsla(250, 80%, 30%, 0.8);
  background-color: #242424;
  border: 0.1rem solid hsla(250, 80%, 30%, 0.8);
  border-radius: 1rem;
  cursor: pointer;
}
.buttonLink:hover {
  box-shadow: 0rem 0rem 1rem hsla(250, 80%, 70%, 0.8);
  opacity: 70%;
}
